{{> header}}

<div class="flex w-11/12 mx-auto p-2 bg-white">
  {{#with product}}
    <div class="flex justify-center w-[350px] h-[350px] m-1 px-2 border bg-white overflow-hidden">
      {{#each thumbnails}}
        <img class="max-w-full max-h-full" src="{{this}}" alt="title">
      {{/each }}
    </div>
    <div class="w-[calc(100%-350px)] h-min m-1 p-3 bg-gray-100 rounded">
      <p class="text-[13px] text-gray-400">Disponibilidad de {{stock}} unidades</p>
      <h3 class="text-xl">{{title}}</h3>
      <p class=" my-1 ">{{description}}</p>
      <p class=" my-1 text-2xl">${{price}}</p>
      <div class="hidden justify-center items-center w-full mt-20">
        <button class="p-1 border rounded-lg bg-white" onclick="addItem()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-8" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
        <input class="h-10 w-16 mx-1 border rounded-lg text-center" type="text" name="quantity" id="quantity" value="0" disabled>
        <button class="p-1 border rounded-lg bg-white" onclick="removeItem()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-8" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
        </button>
      </div>
    </div>
  {{/with}}
</div>

{{> footer}}

<script>
function addItem(s){
  console.log('Agregando', this.event)
}
function removeItem(){
  console.log('Eliminando')
}
</script>